.App {
  background-image: url('../images/nasa-Q1p7bh3SHj8-unsplash.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.noFavesMessage {
  color: white;
  font-size: 30px;
  opacity: 0.6;
}

.content-conatiner {
  width: 100%;
}

