.btnContainer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    flex-wrap: wrap;
  }
  
.clickedContainer {
  flex-direction: column;
  transition: 1.5s;
  width: 200px;
  float: left;
  margin-left: 10px;
  button {
      height: 200px;
      width: 200px;
      margin-bottom:10px;
  }
}

.clickedMain {
  display: flex;
}