.card {
    background-color: #010c4c;
    color: white;
    height: 250px;
    margin: 15px;
    opacity: 0.9;
    width: 200px;
}

// h2 {
//     color: white;
// }

// h3 {
//     color: white;
// }