.card {
    background-color: #010c4c;
    color: white;
    // height: 250px;
    // margin: 15px;
    // opacity: 0.9;
    // width: 200px;
    // display: inline-block;
}

.favorite {
    background-color: #034c01;
}
// h2 {
//     color: white;
// }

// h3 {
//     color: white;
// }