.card {
    background-color: #010c4c;
    border-radius: 8px;
    color: white;
    height: 250px;
    margin: 15px;
    opacity: 0.9;
    width: 200px;
    display: inline-block;
}

.favIcon {
    height: 20px;
}