header {
    padding: 30px;
}

h1 {
    color: #feda4a;
    font-size: 40px;
    font-family: 'Galaxy 1', sans-serif;
    margin-top: 0;
    text-transform: uppercase;
}

.faveBtn {
    border-radius: 15px;
    display: flex;
    float: right;
    font-family: 'AnakinMono', sans-serif;
    font-size: 13px;
    height: 50px;
    justify-content: center;
    margin-bottom: 15px;
    width: 130px;

    &:hover {
        background-color: black;
        border-radius: 18px;
        color: #feda4a;
        font-family: 'AnakinMono', sans-serif;
        font-size: 16px;
        height: 60px;
        width: 150px;
        .faveCounter {
            color: white;
        }
    }
}

.faveCounter {
    color: black;
    font-weight: bold;
    margin-left: 5px;
}